#Fundo{
    background-color: #F4ECDD;
}
#topo{
    /*margin-left: 100px;*/
    
}
.imgH{
    margin-left: 100px;
    margin-bottom: auto;
    font-size: 50px;
}
.nav{
    .img{
        float: left;
        width: 2000px;
        /*height: 100px;*/
        /*background-color: #d7d7d7;*/
    }
    .home{
        background-color: #AEA089;
        margin-left: 100px;
        font-size: 25px;
        border-radius: 15px;
        width: 150px;
    }
    .livros{
        background-color: #9F8C6C;
        margin-left: 100px;
        font-size: 25px;
        border-radius: 15px;
        width: 160px;
    }
    .compras{
        background-color: #706149;
        margin-left: 100px;
        font-size: 25px;
        border-radius: 15px;
        width: 170px;
    }
    .sair{
        background-color: #867F74;
        margin-left: 100px;
        font-size: 25px;
        border-radius: 15px;
        width: 150px;
    }
}
#titulo{
    margin-left: 100px;
}
.figure{
    float: left;
    width: 400px;
    height: 600px;
    background-color: #63625e;
}
#tLivros{
    float: left;
    
    margin-left: 405px;
}
.figure2{
    float: left;
    margin-left: 50px;
    width: 400px;
    height: 600px;
    background-color: #63625e;
}
#tLivros2{
    float: left;
    
    margin-left: 350px;
}
.figure3{
    float: left;
    margin-left: 50px;
    width: 400px;
    height: 600px;
    background-color: #63625e;
}
#tLivros3{
    float: left;
    
    margin-left: 350px;
}
.not{
    float: left;
    margin-left: 150px;
}
.pNot{
    text-align: auto;
    margin-left: 1400px;
    margin-right: 200px;
    
}
.imgF{
    margin-right: 0px;
    margin-top: 300px;
    width: 2000px;
    height: 200px;
    background-color: #C3B49B;
}